body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  size: 50px;
  color: whitesmoke;
  text-align: center;
}

.link {
  size: 16px;
  color: aquamarine;
  text-decoration: underline;
}

.gray {
  size: 21px;
  color: gray;
}

.right {
  text-align: right;
}

.icon {
  margin-top: 50px;
}

h2 {
  size: 42px;
  color: whitesmoke;
  font-weight: 300;
}
